<div class="container-fluid">
  <h2>Listado de Alumnos</h2>
  <p></p>
  <div class="table-responsive">
    <form #actaForm="ngForm">

      <table class="table table-bordered"  *ngIf="alumnos && alumnos.length > 0">
        <thead>
        <tr>
          <th>Legajo</th>
          <th>Nombre</th>
          <th>Carrera</th>
          <th>Regular</th>
          <th>Nota</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let alumno of alumnos" [ngClass]="{'danger' : !alumno.regular}">
          <td class="col-md-2">{{ alumno.legajo }}</td>
          <td class="col-md-3">{{ alumno.nombreAlumno }}</td>
          <td class="col-md-4">{{ alumno.carreraNombre }}</td>
          <td *ngIf="alumno.regular == true" class="col-md-2">
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
          </td>
          <td *ngIf="alumno.regular != true" class="col-md-2">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          </td>
          <td class="col-md-1" *ngIf="alumno.tieneNota">
            {{ alumno.nota }}
          </td>
          <td class="col-md-1" *ngIf="!alumno.tieneNota && alumno.regular">
            -
          </td>
          <td class="col-md-1" *ngIf="!alumno.regular">
            No es regular.
          </td>
        </tr>
        </tbody>
      </table>
    </form>


    <div class="btn-group btn-group" role="group">
      <button (click)="goBack()" class="btn btn-primary btn-md">Volver</button>
    </div>
  </div>
</div>
