<div class="table-responsive">
  <table class="table table-bordered" *ngIf="comisiones && comisiones.length!=0">
    <thead>
    <tr align="center">
      <th>N°</th>
      <th>Materia</th>
      <th>Carrera</th>
      <th>Catedra</th>
      <th>Turno</th>
      <th>Semestre</th>
      <th>Año</th>
      <th>Alumnos</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let comision of comisiones">
      <td class="col-md-1">{{ comision.id }}</td>
      <td class="col-md-2">{{ comision.materiaNombre }}</td>
      <td class="col-md-2">{{ comision.carrera }}</td>
      <td class="col-md-1">{{ comision.catedra }}</td>
      <td class="col-md-1">{{ comision.turno }}</td>
      <td class="col-md-1">{{ comision.semestre }}</td>
      <td class="col-md-1">{{ comision.anio }}</td>
      <td class="col-md-1">{{ comision.cantidadAlumnos }}</td>
      <td class="col-md-2" align="center">
        <div class="btn-group" >
          <button type="button" routerLink="{{comision.id}}/alumnos" class="btn btn-success btn-sm"
                  *ngIf="comision.cantidadAlumnos > 0"> <span class="glyphicon glyphicon-plus"></span> Cargar Nota</button>
          <button type="button" routerLink="{{comision.id}}/alumnos" class="btn btn-success btn-sm disabled"
                  *ngIf="comision.cantidadAlumnos == 0"> <span class="glyphicon glyphicon-plus"></span> Cargar Nota</button>
          <button type="button" routerLink="{{comision.id}}/ver" class="btn btn-success btn-sm">
            <span class="glyphicon glyphicon-eye-open"></span> Ver</button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>

  <div class="alert alert-danger" role="alert" *ngIf="comisiones && comisiones.length==0">
    No se han encontrado comisiones para los filtros indicados.
  </div>

</div>



