<div class="container-fluid">
  <div class="panel panel-default">
    <div class="panel-heading">Filtrar comisiones</div>
    <div class="panel-body">
      <form #filtroForm="ngForm">
      <div class="row">
        <div class="col-sm-1">
          <label for="anio">Año</label>
          <input type="number" min="2010" max="2018" class="form-control" placeholder="" #anio id="anio">
        </div>
        <div class="col-sm-1">
          <label for="turno">Turno</label>
          <select class="form-control" #turno id="turno">
            <option value="">-</option>
            <option value="M">M</option>
            <option value="T">T</option>
            <option value="N">N</option>
          </select>
        </div>
        <div class="col-sm-1">
          <label for="semestre">Semestre</label>
          <select class="form-control" #semestre id="semestre">
            <option value="">-</option>
            <option value="1">1</option>
            <option value="2">2</option>
          </select>
        </div>
        <div class="col-sm-4">
          <label for="materia">Materia</label>
          <input type="text" class="form-control" placeholder="" #materia id="materia">
        </div>
        <div class="col-sm-1">
          <label for="catedra">Catedra</label>
          <input type="text" class="form-control" placeholder="" #catedra id="catedra">
        </div>
        <div class="col-sm-4">
          <label for="carrera">Carrera</label>
          <input type="text" class="form-control" placeholder="" #carrera id="carrera">
        </div>


      </div>
      <br>
      <button (click)="buscar(anio.value, turno.value, materia.value,
      catedra.value, semestre.value, carrera.value)" type="submit" class="btn btn-success btn-md" >Buscar</button>
      </form>
    </div>


  <br>
  <app-comisiones
    [comisiones]="comisiones">
  </app-comisiones>
  </div>
</div>
